
/* фильтры */


.filters{
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    /* border-top: 1px solid rgba(255,255,255,.2); */
    justify-content: center;
    /* background-color: #ffffff14; */
}
/* блок со статьями */
.main-menu option{
    border-radius: 30px;
    padding: 10px 15px;
    color: black;
    background-color: #ffffff;
    border: 0;
}

.menu{
    display: none;
}
.main-menu option:hover{
    cursor: pointer;
}
.main-menu option::selection { background: transparent; }
.main-menu option:active{
    transform: scale(.95);
}

.main{
    display: flex;
    flex-direction: column;
    
}

.main-color{
    background-color: rgba(0,0,0,.5);
    padding-bottom: 60px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main-title{
    font-size: 42px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    margin-bottom: 60px;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.1);
    background-color: black;

}

.offer-border{
    background-color: black;
}

.most-viewed__title {
    font-size: 42px;
    text-align: center;
    padding-bottom: 50px;
}

.main-center{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(360px, 1fr) );
    grid-row-gap: 40px;
    grid-column-gap: 50px;
    grid-auto-rows: 300px;
    width: 100%;
    padding-bottom: 50px;
}

.main-menu{
    display: flex;
    flex-wrap: wrap;
    line-height: 22px;
}

.main-menu option + option{
    margin-right: 15px;
    margin-bottom: 10px;
}

.main-menu option:first-child{
    margin-right: 15px;
    margin-bottom: 10px;
}

.main-field{
    background: #000000;
    box-shadow: -10px -10px 7px 3px rgb(0 0 0 / 10%);
    border-radius: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-picture-teg-a{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .8;
}


.card-text-picture{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}

.card-text-picture::selection, .post img::selection , .post-picture-image::selection, .card-icon-id::selection, .card-icon-autor::selection, .post-icon-date::selection{background: transparent;}

.card-id{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    position: relative;
}

.card-icon-id{
    width: 20px;
    height: 20px;
    
}

.card-id-name{
    padding-left: 5px;
    font-size: 14px;
    text-shadow: 0px 1px 3px black;
}

.card-title{
    text-decoration: none;
    color: rgba(255,255,255,.8);    
    text-align: center;
    background-color: rgba(0,0,0,.4);
    width: 100%;
    padding: 10px 0px;
    position: relative;
    
}

.card-title h2{
    line-height: 36px;
    font-size: 26px;  
    text-shadow: 0px 3px 5px black;
    font-weight: normal;
    letter-spacing: .8px;
}

.card-text-description{
    font-size: 14px;
    line-height: 19px;
    padding: 0 20px;
    color: rgba(255,255,255,.6); 
}

.card-autor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    position: relative;
}

.card-icon-autor{
    width: 20px;
    height: 20px;
    
}

.card-text-autor{
    text-shadow: 0px 1px 3px black;
}

.card-autor a{
    text-decoration: none;
    padding-left: 5px;
    color: rgba(255,255,255,0.8);
}

.post-date{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: relative;
}

.post-icon-date{
    width: 20px;
    height: 20px;
    
}

div.post-date{
    padding-bottom: 10px;
}

p.post-date{
    padding-left: 5px;
    text-shadow: 0px 1px 1px black;
}

/* пост */

.main-post{
    position: relative;
    max-width: 70vw;
    width: 100%;
    margin: 0 auto;
}

.post-icon-views{
    width: 20px;
    height: 20px;
}

.post-headdescription{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post-headdescription .post-date + .post-date{
    padding-left: 20px;
}

.post-text-views{
    padding-left: 5px;
}

.post-id-name{
    padding-left: 5px;
    font-size: 14px;
}

.post{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    
    flex-direction: column;
}

.post img{
    max-width: 80vw;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 20px;
    opacity: .8;
    filter: drop-shadow(1px 1px 2px black);
}

.post-title{
    font-size: 5vmin;
    position: absolute;
    background-color: rgba(0,0,0,.5);
    max-width: 80vw;
    width: 100%;
    text-align: center;
    line-height: 6.5vmin;
    letter-spacing: 1.5px;
    padding: 10px 40px;
    text-shadow: 3px 4px 5px black;
    color: white;
}

.post-description{
    
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
}

.post__rightcontainer{
    padding-left: 100px;
    min-width: 300px;
}

.post-text-description, .post-text-value, .info{
    font-size: 1.7vmin;
    line-height: 2.5vmin;
}

.post-text-description{
    padding: 0 10px;
}

.pricesite-title{
    padding-bottom: 50px;
}

.post-general{
    display: flex;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}


.post-text-value{
    padding: 40px 10px 60px 10px;
}

.post-text-value p, .post-text-value li{
    padding-bottom: 20px;
}

.post-text-description, .post-text-value p{
    text-indent: 40px;
}

.post-picture-image{
    border-radius: 20px;
    opacity: .8;
    filter: drop-shadow(2px 4px 6px black);
    max-width: 70vmin;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    
}

.post-picture{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-text-header{
    position: absolute;
    background-color: rgba(0,0,0,.5);
    max-width: 70vmin;
    width: 100%;
    text-align: center;
    font-size: 4vmin;
    line-height: 5.5vmin;
    padding: 10px 0px;
}



/*хедер в блог*/
.header-box-blog{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 970px;
    max-width: 1180px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.container-radius-top{
    box-shadow: unset;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}

.container-header{
    height: 360px !important; 
    background-image: url(/images/title-blog.webp) !important;
    background-position: center !important;
}

.title-text {
    line-height: 58px;
    letter-spacing: 3.5px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 75px;
}

@media (max-width: 1240px){
    .menu{
        display: flex;
    }
    .header{
        height: 50px;
    }
    .container-block-1-paddingunset{
        padding: unset !important;
    }
    .header-wrapper{
        height: 50px;   
    }

    .footer-row div:nth-child(1){
        padding-left: 0;
    }

    .logo-icon {
        width: 32px;
        height: 40px;
    }
    .main-title{
        font-size: 28px;
    }
    .card-title h2{
        font-size: 22px;
        line-height: 30px;
    }
    .main-center {
        grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
        grid-auto-rows: 260px;
        grid-row-gap: 20px;
        grid-column-gap: 40px;
        width: fit-content;
        align-self: center;
    }
    .dropdown .icon-message {
        padding-right: 0;
    }
    .title-text{
        line-height: 39px !important;
        padding-left: 5%;
        padding-right: 5%;
    }
    .container-block-1{
        padding:0 20px;
        align-items: unset;
    }
    .header-box-blog {
        height: 580px;
        width: 100%;
    }

    .main-post {
        max-width: 80vw;
    }
    .post__rightcontainer {
        min-width: 200px;
        padding-left: 60px;        
    }
    .main-menu{
        justify-content: center;
    }
    .main-title {
        padding: 30px 0;
        margin-bottom: 40px;
    }

    .container-header {
        height: 350px !important;
    }
}
@media (max-width: 910px){

    .post__rightcontainer {
        min-width: 150px;
        padding-left: 60px;
    }
   
}

@media (max-width: 800px){
    
    
    .post-general {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-row {
        gap: 20px;
    }

    .footer-row div:nth-child(1), .footer-row div:nth-child(2) {
        padding-left: 0;
    }

}
@media (max-width: 700px){
    .site-description {
        width: 150px;
    }

    .header-box-blog {
        height: 300px;
    }

    .main-menu{
        flex-wrap: nowrap;
        margin: 0 20px;
    }

    .filters{
        overflow-x: scroll;
        justify-content: unset;
        height: 100px;
        padding: 0;
    }

    .main-menu option:first-child{
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .main-menu option + option{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .card-id-name, .card-text-autor, .post-date{
        font-size: 12px;
    }
   
    .main-center{
        grid-template-columns: repeat( auto-fit, minmax(240px, 1fr) );
    }
    .main-post {
        max-width: 90vw;
    }

    .post img {
        max-width: 90vw;
    }

    .post__rightcontainer {
        padding-left: 40px;
    }

    .post-description {
        padding-bottom: 20px;
    }

    .post-text-value {
        padding: 20px 10px 20px 10px;
    }

    .post-text-value p, .post-text-value li {
        padding-bottom: 10px;
    }

    .post-title {
        max-width: 90vw;
        padding: 10px 20px;
    }

}

@media (max-width: 550px){

    .site-description {
        display: none;
    }

    .post__rightcontainer {
        min-width: 100px;
    }

    .post-general {
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media (max-width: 505px){
    .title-text {
        line-height: 36px !important;
    }

    .main-title{
        font-size: 26px;
    }
}
@media (max-width: 465px){
    .title-text {
        font-size: 26px !important;
    }

    .post__rightcontainer {
        min-width: 90px;
        padding-left: 20px;
    }

    .post-text-value ol{
        padding-left: 20px;
    }

    .post-text-description, .post-text-value p {
        text-indent: 20px;
    }

   

    .post {
        padding-top: 70px;
    }

    .post img, .post-picture-image, .card-text-picture {
        border-radius: 10px;
    }
}
@media (max-width: 420px){
    
    
    .main-center {
        grid-template-columns: repeat( auto-fit, minmax(270px, 1fr) );
    }

}

@media (max-width: 402px){
    .title-text {
        font-size: 22px !important;
        line-height: 30px !important;
    }

    .post__rightcontainer {
        min-width: 70px;
    }

    .main-title{
        font-size: 22px;
    }
}