/* хедер в кабинете */


.header-nav-1 a{
    color: rgba(255,255,255,.9);
    text-decoration: none;
}

.header-nav-1{
    display: flex;
    border-radius: 30px;
    padding: 0 20px;
    height: 50px;
    width: 80px;
    align-items: center;
    background: linear-gradient(-45deg, rgba(39,38,61,.6) 0%, rgba(67,62,91,.6) 64%, rgba(100,90,127,.6) 80%, rgba(139,122,168,.1) 100%);
    background-size: 400% 400%;
}

.header-profile{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
}

.header-right-form-button a{
    color: rgba(255,255,255,.9);
}
/* фильтры */


.filters{
    display: flex;
    padding: 40px 0;
    min-width: 1180px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);
}

.filter + .filter{
    padding-left: 20px;
}

.filter select{
    border-radius: 30px;
    height: 50px;
    width: 180px;
    font-family: "RussoOne-Regular";
    font-size: 14px;
    border: 0;
    color: rgba(255,255,255,.9);
    text-align: center;
    background: linear-gradient(269deg, rgba(139,122,168,1) 0%, rgba(39,38,61,1) 100%);
    background-size: 400% 400%;
    box-shadow: -5px -5px 7px 3px rgb(0 0 0 / 10%);
    
}


.filterCategories option{
    background: rgb(39,38,61);   
}

.filter-long-string{
    display: flex;
    align-items: center;
    position: relative;
}

.filter-long-string input{
    height: 40px;
    width: 200px;
    background: linear-gradient(269deg, rgba(139,122,168,1) 0%, rgba(39,38,61,1) 100%);
    background-size: 400% 400%;
    box-shadow: -5px -5px 7px 3px rgb(0 0 0 / 10%);
    border-radius: 30px;
    border: 0;
    padding-left: 50px;
    caret-color: rgba(255,255,255,.5);
    color: rgba(255,255,255,.9);
}

.filter-long-string input::placeholder{
    color: rgba(255,255,255,.5);
}

.search-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-menu div + div{
    padding-left: 20px;
}

.SearchIcon{
    position: absolute;
    left: 10px;
    width: 30px;
    height: 30px;
}

.DeleteIcon{
    width: 20px;
    height: 20px;
}

.DelSearch{
    display: flex;
    position: absolute;
    right: 15px;
}

/* блок со статьями */


.main{
    display: flex;
    flex-direction: column;
}

.main-title{
    font-size: 42px;
    text-align: center;
    padding: 50px 0 ;
}

.main-center{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-row-gap: 50px;
    grid-column-gap: 80px;
    grid-auto-rows: 260px;
    width: 100%;
}



.main-menu{
    display: flex;
    padding-left: 20px;
    padding-right: 15px;
    margin-right: 40px;
    border-right: 1px solid rgba(255,255,255,.2); 
    width: 47%;
    flex-wrap: wrap;
    line-height: 22px;
}

.main-menu option + option{
    padding-right: 20px;
}


.main-field{
    background: #000000;
    box-shadow: -10px -10px 7px 3px rgb(0 0 0 / 10%);
    border-radius: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-picture-teg-a{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .8;
    filter: blur(1px);
}


.card-text-picture{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    filter: invert(1);
}

.card-id{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    position: relative;
}

.card-icon-id{
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.card-id-name{
    padding-left: 5px;
    font-size: 14px;
}

.card-title{
    text-decoration: none;
    color: rgba(255,255,255,.8);    
    text-align: center;
    background-color: rgba(0,0,0,.4);
    width: 110%;
    position: relative;
    
}

.card-title h2{
    line-height: 36px;
    font-size: 26px;  
    padding: 20px; 
    font-weight: normal;
    letter-spacing: .8px;
}

.card-text-description{
    font-size: 14px;
    line-height: 19px;
    padding: 0 20px;
    color: rgba(255,255,255,.6); 
}

.card-autor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    position: relative;
}

.card-icon-autor{
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.card-autor a{
    text-decoration: none;
    color: rgba(255,255,255,.9);  
    padding-left: 5px;
}

.post-date{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: relative;
}

.post-icon-date{
    width: 20px;
    height: 20px;
    filter: invert(1);
}

div.post-date{
    padding-bottom: 10px;
}

p.post-date{
    padding-left: 5px;
}

/* пост */

.main-post{
    position: relative;
}

.post-icon-views{
    width: 20px;
    height: 20px;
}

.post-headdescription{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post-headdescription .post-date + .post-date{
    padding-left: 20px;
}

.post-text-views{
    padding-left: 5px;
}

.post-id-name{
    padding-left: 5px;
}

.post{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 60px;
    filter: invert(1);
}

.post img{
    width: 1180px;
    height: 663.75px;
    object-fit: cover;
    border-radius: 40px;
    opacity: .8;
    filter: drop-shadow(1px 1px 2px black);
}

.post-title{
    font-size: 52px;
    position: absolute;
    background-color: rgba(0,0,0,.5);
    width: 110%;
    text-align: center;
    line-height: 72px;
    letter-spacing: 1.5px;
    padding: 10px 0;
}

.post-description{
    background-color: rgba(0,0,0,.5);
    width: 30%;
    position: absolute;
    left: 860px;
    top: 640px;
    padding: 58px;
    z-index: 0;
}

.post-text-description{
    padding: 0 10px;
}

.post-general{
    width: 760px;
}


.post-text-value{
    padding: 40px 10px 60px 10px;
}

.post-text-value p, .post-text-value li{
    padding-bottom: 20px;
}

.post-text-description, .post-text-value p{
    text-indent: 40px;
}

.post-picture-image{
    border-radius: 40px;
    opacity: .8;
    filter: drop-shadow(2px 4px 6px black);
    width: 590px;
    height: 331.88px;
    object-fit: cover;
    filter: invert(1);
}

.post-picture{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-text-header{
    position: absolute;
    background-color: rgba(0,0,0,.5);
    width: 680px;
    text-align: center;
    font-size: 32px;
    line-height: 44px;
    padding: 10px 0;
}

.wrapper-block{
    padding-bottom: 50px;
}


/*хедер в блог*/
.carousel-header-box {
    padding-top: unset;
}
.header-box-blog{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 1180px;
    height: 970px;
}


.title-text {
    padding-right: 10%;
    line-height: 58px;
    letter-spacing: 3.5px;
}

.header-box-desription-blog{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title-description-box-blog{
    grid-template-columns: 250px;
    display: grid;
    gap: 60px;
    
}
.title-description{
    border-left: 2px rgba(133, 224, 171, 1) solid;
    padding-left: 10px;
    font-size: 14px;
    line-height: 19px;
    font-weight: normal;
}

@media (max-width: 1240px){
    .carousel-header-box{
        display: flex;
        justify-content: center;
        max-width: 1240px;
        width: 100%;
        
    }
    .main-title{
        font-size: 28px;
    }
    .card-title h2{
        font-size: 22px;
        line-height: 30px;
    }
    .main-center {
        grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
        grid-auto-rows: 240px;
        grid-row-gap: 20px;
        grid-column-gap: 40px;
    }
    .dropdown .icon-message {
        padding-right: 0;
    }
    .title-text{
        line-height: 39px !important;
        padding-right: 2%;
    }
    .title-description-box-blog {
        grid-template-columns: 180px;
        display: grid;
        gap: 25px;
    }
    .container-block-1{
        padding:0 20px;
        align-items: unset;
    }
    .header-box-blog {
        height: 580px;
        width: 100%;
        padding: 0 170px
    }
    .title-description-box-blog{
    }

    .filters{
        min-width: unset;
    }
    .filter-long-string input{
        min-width: 170px; 
        height: 36px;
        width: 100%;
    }
}
@media (max-width: 980px){
    .header-box-blog {
        padding: 0 50px;
    }
    .main-menu{

    }
}
@media (max-width: 910px){
   
    .main-menu{
        display: none;
    }
   
}


@media (max-width: 800px){
    .header-box-blog {
        padding: 0 20px;
        
    }
    .container-header{
        height:560px;
    }
    .container-background{
        height:560px;
    }

}
@media (max-width: 700px){
    .site-description {
        width: 150px;
    }

    .card-id-name, .card-text-autor, .post-date{
        font-size: 12px;
    }
   
    .main-center{
        grid-auto-rows: unset;
        grid-template-columns: repeat( auto-fit, minmax(240px, 1fr) );
    }

}

@media (max-width: 550px){
    .header-box-desription-blog {
        flex-direction: column;
        justify-content: center;
    }
    .title-description-box-blog {
        grid-template-columns: 1fr;
        padding-top: 30px;
        width: 100%;
        gap: 10px;
    }

    .title-description{
        font-size: 14px;
        line-height: 19px;
    }
    .site-description {
        display: none;
    }
    .title-text {
        padding-right: 0 !important;
    }

}

@media (max-width: 505px){
    .title-text {
        line-height: 36px !important;
    }

    .main-title{
        font-size: 26px;
    }
}
@media (max-width: 465px){
    .title-text {
        font-size: 26px !important;
    }
}
@media (max-width: 420px){
    
    .title-description-box-blog {
        grid-template-columns: 1fr;        
    }
    .container-header{
        height:650px;
    }
    .container-background{
        height:650px;
    }
    .header-box-blog {
        height: 100%;
    }

    .carousel-header-box {
        height: 100%;
    }

    .filter-long-string input{
        min-width: 100px;
        width: 100%;
        
    }
    .filter-long-string{
        padding-left: 20px;
    }

    .SearchIcon{
        left: 26px;
    }
    .filter select{
        min-width: 100px;
        width: 100%;
        white-space: pre-wrap;
        text-align: left;
        padding-left: 10px;
    }
    .filter{
        width: 50%;
    }
    .main-center {
        grid-template-columns: repeat( auto-fit, minmax(270px, 1fr) );
    }
}

@media (max-width: 402px){
    .title-text {
        font-size: 22px !important;
        line-height: 30px !important;
    }

    .main-title{
        font-size: 22px;
    }
}