* {
    margin: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
                                 
                                  
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: unset;
    background-color: unset;
    border-color: unset;
}

.AlertPlaceholder{
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 10px;
}


body{
    font-family: "Oswald-Regular";    
    font-style: normal;
    font-weight: 400;
    color: #404149;    
    width: 100%;
    
}

.catalog-product-a{
    text-decoration: none;
    color: #404149; 
    transition-duration:2s;  
}

.catalog-product-a:hover{
    color: #014a7e; 
    transition: 0s;
}


.dropdown-item{
    margin-left: 0 !important;
    padding: 0.15rem 1rem;
    font-size: 16px;
}

.dropdown-item:active{
    background-color: #ffffff;
}
.tel{
    cursor: pointer;
}
.tel a{
    text-decoration: none;
    color: #404149;
    
}

.telfoo a{
    text-decoration: none;
    color: #FFFFFF;
}

input#btn-menu {
    display: none;
}
.menu-links label {    
    display: none;  
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    width: 18px;
}
.menu-links label:hover{
    color: #005fa3;
}
.contant-info-left__title{
    font-size: 30px ;
}

@media (min-width: 1920px)  { 
    .container-main {
        max-width: 100vw !important;
    }

    header{
        margin: unset !important;
        max-width: 100vw !important;
    }

    

    .carou-main{
        margin: 0 auto;
    }

    .picture{
        margin: 0 auto;
    }
}

@media (min-width: 1080px)  {  
    .dropdown-menu{
        overflow-y: scroll;
        max-height: calc(100vh - 150px);
        border: 1px solid rgba(0,0,0,.09);
        height: fit-content;
    }  
    .imagetitle{
        height: 375px !important;
        border-radius: 20px;

    }
    .imagetitlemoskit{
        height: 416px !important;
        border-radius: 20px;

    }
    .menu-links ul{
        padding-left: 0;
    }
    .menu-links a:first-child{
        margin-left: 0 !important;
    }
    .container-main{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: space-between;
        min-width: 1180px;
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        
    }

    header{
        background-color: #FFFFFF;
        min-width: 1180px;
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        box-shadow: 0px 0px 5px 3px rgba(255, 101, 0, 0.07);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
    }

    .header--container{
        display: flex;
        width: 1130px;
        justify-content: space-between;
    }

    
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #FFFFFF;
        height: 50px;
        font-size: 16px;
        margin: 0 auto;
        align-items: center;
    }  

    .sticky {
        position: sticky;
        top: 0;
        background-color: #FFFFFF;
        z-index: 20;
        box-shadow: 0px 0px 5px 3px rgba(255, 101, 0, 0.07);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    
    .icon{
        object-fit: contain;
        width: 15px;
        height: 15px;
    }

    .time, .compas{
        margin-right: 4px;
    }
    .header-addres{
        padding-left: 20px;
    }
    .header-addres a:hover{
        text-decoration: none;
        color: #005FA3;
    }

    .header-left{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .header-time, .header-addres{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header-addres a{
        color: #404149;
    }



    .header-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #005FA3;
    }

    .header--container__center
    {
        width: 100%;
        padding-left: 40px;
    }

    .header-center a{
        text-decoration: none;
        color: #005FA3;
    }
    .header-namefirm:first-child{
        font-size: 16px;    
    }

    .header-namefirm{
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: 600;
        text-shadow: 1px 1px 1px #005FA3;
        margin-bottom: 0;
        letter-spacing: 2px;
        line-height: 28px;
    }

    .header-tagline{
        display: flex;
        justify-content: center;
        font-size: 10px;
        text-shadow: 0.5px 0.5px 0.5px #005FA3;
        letter-spacing: .8px;
        line-height: 24px;
    }

    .header-right{
        display: flex;
        flex-direction: row;
        margin: 5px 0;
        justify-content: center;
    }
    .header-right div+div{
        padding-left: 15px;
    }
    .boxmail{
        padding-top: 10px;
    }

    .menu{
        display: flex;
        flex-direction: row;
    
        padding: 7px 0;
        margin: 0 auto;
        background-color: #FFFFFF;
        box-shadow: 0px -1px 0px 0px rgba(255, 101, 0, 0.07);
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        height: 40px;
    }

    .menu-links{
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .menu-links a:hover{
        color: #005FA3;
    }

    .menu-links span{
        margin-left: 20px;
        cursor: pointer;
    }
    .menu-links span:hover{
        color: #005FA3;
    }

    .menu-catalog a:hover{
        color: #005FA3;
    }

    .menu-catalog-links{
        text-decoration: none;
        color: #F7654A;
        background-color: #ffffff;
        border: 0;
        padding: 0;

    }

    

    .menu-catalog-links:hover{
        background-color: #ffffff;
        color: #005FA3;
    }

    .menu-catalog-links:focus{
        background-color: #ffffff;
        color: #ee2906;
    }

    .menu-links a{
        text-decoration: none;
        color: #404149;
        margin-left: 20px;
    }

    

    .carou-main{
        min-width: 1080px;
        max-width: 1920px;
    }

    .carousel{
        display: flex;
        background-color: #005FA3;
        margin: 0 auto;
    }

    .carou-header{
        display: flex;
        object-fit: cover;
        min-width: 1080px;
        max-width: 1920px;
        height: 530px;
        opacity: 0.7;
    }

    .carou-title{
        font-size: 58px;
        line-height: 90px;
        padding-bottom: 5px;
        color: #ffffff;
        text-shadow: 2px 2px 2px #000000;
        position: relative;
        top: 120px;
        width: 100%;
        max-width: 1080px;
        min-width: 830px;
        margin: 0 auto;
    }

    .carou-description{
        font-size: 18px;
        padding-bottom: 250px;
        color: #ffffff;
        text-shadow: 2px 2px 2px #000000;
        position: relative;
        top: 120px;
    }

    .field-wrapper{
        height: 250px;
    }

    .maskforcarou{
        width: 100%;
        min-width: 1080px;
        max-width: 1920px;
        max-height: 700px;
        min-height: 530px;
        position: absolute;
        height: 100%;
        display: flex;
        background-color: #ffffff;
        -webkit-mask-image: linear-gradient(rgb(0, 95, 163), transparent);
        -webkit-mask-size: 100% 10%;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: top;
    }

    .maskforheader{
        height: 250px;
        position: absolute;
        width: 100%;
        min-width: 1080px;
        max-width: 1920px;
        background-color: #FFFFFF;
        -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1), transparent);
        -webkit-mask-size: 100%;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: top;
    }

    .field{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0 auto;
        bottom: 150px;
        align-items: flex-start;
    }

   

    .field-in{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 160px;
        margin-top: 40px;
    }

    .field-in p{
        margin-bottom: 0;
    }

    .field-in-value{
        font-size: 58px;
        color: #F7654A;
        line-height: 72px;
        font-weight: 600;
    }

    .field-in-text{
        font-size: 36px;
        color: #404149;
        font-weight: 600;
    }

    .field-in-description{
        font-size: 18px;
        color: #999999;
        text-align: center;
        font-weight: 400;
    }

    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1180px;
        margin: 0 auto;
        justify-content: center;
        padding-bottom: 100px;
    }

    .main h1{
        font-size: 36px;
        font-weight: 600;
    }

    .main-wrapper{
        display: flex;
        flex-direction: column;
        padding-top: 100px;
    }

    

    .picture{
        display: flex;
        flex-direction: row;
        max-width: 1920px;
        min-width: 1180px;
        width: 100%;
        justify-content: space-between;
        overflow: hidden;
    }

    .picture > div{
        display: flex;
    }

    .pictureimg{
        display: flex;
        object-fit: cover;
        height: 192px;
        width: 192px;
    }

    .main-wrapper-card {
        display: flex;
        flex-direction: row;
        width: 1140px;
        justify-content: space-between;
    }

    .main-wrapper-card > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 300px;
    }

    .main-wrapper-card-pictureimg{
        object-fit: cover;
        width: 300px;
        height: 300px;
    }

    .main-wrapper-card > div > span{
        font-size: 24px;
        font-weight: 600;
        padding-top: 15px;
        padding-bottom: 25px;
    }

    .main-wrapper-card > div > p{
        font-size: 16px;
        font-weight: 300;
    }

    .orange-dash{
        height: 6px;
        width: 55px;
        margin-top: 45px;
    }

    .main-about{
        padding-top: 100px;
    }

    .main-about > h1{
        text-align: center;
        padding-bottom: 50px;

    }

    .articleheader{
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.5px;
    }


    .articlebody{
        margin-top: 5px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.5px;
        text-align: justify;
    }

    .articlefield-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

    .articlefield-wrapper-down{
        display: flex;
        flex-direction: column;
        width: 45%;
        justify-content: space-between;
    }

    .articlefield{
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
        align-items: flex-start;
    }

    .articlefield > img{
        padding-right: 20px;

    }

    .main-catalog h1{
        padding-bottom: 50px;
        text-align: center;
        z-index: 10;
    }

    .main-title{        
        display: flex;
        justify-content: center;
        font-size: 36px;
        font-weight: 600;
        padding-bottom: 50px;
    }

    .main-wrapper-catalog{
        display: flex;
        flex-direction: row;
        width: 1180px;
        padding-left: 20px;
    }

    .carou-catalog{
        grid-area: 1 / 1 / 3 / 3;
        height: 400px;
        width: 540px;
        margin: 0;

    }

    .carou-catalog img{
        object-fit: cover;
        height: 400px;
        width: 530px;
    }

    .catalog-product1{        
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;   
        padding-right: 20px;
    }

    .catalog-product-row{
        display: flex;
        flex-direction: row;
    }

    .catalog-product-row1{
        display: flex;
        flex-direction: row;
        grid-area: 1 / 3 / 2 / 5;
    }

    .catalog-product-row2{
        display: flex;
        flex-direction: row;
        grid-area: 2 / 3 / 3 / 5;
    }

    .catalog-product-row a{
        text-decoration: none;
        color: #404149;
    }

    .product-card-margin{
        margin-left: 20px !important;
    }

    .product-card{
        display: flex;
        flex-direction: column;
        width: 255px;
        height: 180px;
        margin-left: 35px;
        margin-bottom: 40px;
        padding: 10px;
    }

    .product-card-span{

        font-size: 10px;
    }

    .product-card-picture > div{
        display: flex;
        flex-direction: column;
    }

    .product-card-picture > div > p{
        margin-top: 5px;
        font-size: 10px;
    }

    .product-card.first{

        margin-left: 0;
    }

    .product-card:hover{

        box-shadow: -2px -2px 0px 0px rgb(0 95 163 / 5%);
    }

    .product-card-title{
        display: flex;
        flex-direction: column;
    }

    .product-card-picture{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .product-card-title > h2{
        font-size: 21px;
        padding: 0;
        text-align: left;
    }

    .orange-dash-card{
        height: 4px;
        width: 30px;
        margin-bottom: 5px;
    }

    .product-card-picture .imgcard{
        object-fit: contain;
        width: 150px;
        height: 140px;
    }

    .footer{
        margin: 0 auto;
        width: 100%;
    }

    .banner-orange{
        background-color: #F7654A;
        color: #FFFFFF;
    }

    .banner-orange-in-text{
        display: flex;
        flex-direction: column;
    }

    .banner-orange-in{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 1180px;
        margin: 0 auto;
        height: 181px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .banner-orange-in span{
        margin: 0;
    }

    .banner-orange-title{
        font-size: 48px;
        font-weight: 600;
        letter-spacing: 2px;
    }

    .banner-orange-description{
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 2px;
    }

    .banner-orange-btn{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 190px;
        height: 60px;
        font-size: 20px;
        font-weight: 600;
        border: 0;
        letter-spacing: 1px;
        background-color: #F7F7F7;
        color: #000000;
        text-decoration: none;
    }

    a.footertext, span.footertext{
        color: #FFFFFF;
        text-decoration: none;
    }

    .footer-down{
        background-color: #404149;
        color: #FFFFFF;
    }

    .map{
        display: flex;
        width: 100%;
    }

    .footer-down > div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1180px;
        margin: 0 auto;
        padding: 20px;
    }

    .contant-info-left-time{
        display: flex;
        flex-direction: row;
    }

    .contant-info-left-time > div{
        padding-right: 30px;
        display: flex;
        flex-direction: column;
    }

    .contant-info-left > p:first-child{
        font-size: 30px !important;
    }

    .contant-info-left-time > p:nth-child(2n-1){
        font-size: 16px;

    }

    .contant-info-left-time > div > p:first-child{
        font-size: 10px;

    }

    .contant-info-left-time > div > p{
        margin-bottom: 0;
    }

    .contant-footer > div > img{
        filter: invert(100%);
    }



    .contant-info-left > p{
        font-size: 10px;
        margin-bottom: 0;
    }

    .contant-info-center{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .contant-info-center a{
        text-decoration: none;
        color: #ffffff;
    }

    .contant-info-center p{
        margin-bottom: 0;
        font-size: 16px;
    }

    .contant-info-center p:nth-child(2){
        font-size: 10px;
    }

    .copyright{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .copyright{
        font-size: 12px;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active{
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    .btn-check:active+.btn-secondary:focus, .btn-check:checked+.btn-secondary:focus, .btn-secondary.active:focus, .btn-secondary:active:focus, .show>.btn-secondary.dropdown-toggle:focus, .btn-check:focus+.btn-secondary, .btn-secondary:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .btn{
        vertical-align: baseline;
    }

    #floatingTextarea{
        height: 84px;
    }

    .form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown){
        padding-top: calc(1.5rem + 15px); 
        padding-bottom: 20px;
    }

    .modal-footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .form__message{
        display: flex;
        flex-direction: row;
    }
    p.contact-form__message{
        margin-bottom: 0 !important;
    }
}

@media (max-width: 1080px)  {    
    .contant-info-left__title{
        font-size: 22px ;
    }
    .header-right div+div{
        padding-left: 5px;
    }
    .menu-links a:first-child{
        margin-left: 0 !important;
    }
    
    .menu-links ul{
        margin-bottom: 0;
    }
    .container-main{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: space-between;
        width: 100%;
        min-width: 500px;
        max-width: 1080px;
        margin: 0 auto;        
    }

    header{
        background-color: #FFFFFF;
        width: 100%;
        min-width: 500px;
        max-width: 1080px;
        margin: 0 auto;
    }

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #FFFFFF;
        width: 500px;
        font-size: 16px;
        margin: 0 auto;
    }  

    .sticky {
        position: sticky;
        top: 0;
        background-color: #FFFFFF;
        z-index: 20;
        box-shadow: 0px 2px  15px 5px rgb(0 0 0 / 10%);
   
    }

   
    .icon{
        object-fit: contain;
        width: 10px;
        height: 10px;    
    }
    
    .time, .compas{
        margin-right: 4px;
        
    }
    
    .header-addres a:hover{
        text-decoration: none;
        color: #005FA3;
    }
    
    .header-left{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 10px;
    }
    
    .header-time, .header-addres{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 12px;
        margin-right: 5px;
    }
    
    .header-addres a{
        color: #404149;
    }
    
    .header-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #005FA3;
        align-items: center;
        padding-top: 10px;
    }
    
    .header-center a{
        text-decoration: none;
        color: #005FA3;
        flex-direction: row;
        display: flex;
    }
    
    .header-namefirm{
        display: flex;
        justify-content: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        text-shadow: 1px 1px 1px #005FA3;
        margin-bottom: 0;
        letter-spacing: 1px;
    }

    .header-namefirm:first-child{
        padding-right: 5px;
    }
    
    .header-tagline{
        display: flex;
        justify-content: center;
        font-size: 8px;
        text-shadow: 0.5px 0.5px 0.5px #005FA3;
        letter-spacing: 0.8px;
        display: none;
        
    }
    
    .header-right{
        display: flex;
        flex-direction: row;
        margin: 10px 0;
        justify-content: center;
        font-size: 12px;
        padding-right: 5px;
        align-items: center;
    }
    
   
    
    .menu{
        display: flex;
        flex-direction: row;
        width: 500px;
        padding: 5px 10px;
        margin: 0 auto;
        background-color: #FFFFFF;
        box-shadow: 0px -1px 0px 0px rgba(255, 101, 0, 0.07);
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        font-size: 10px;
    }
    
    .menu-links{
        display: flex;
        width: 100%;
        white-space: nowrap;
        justify-content: flex-end;
        margin-left: 0;
        font-size: 14px;
    }
    
    .menu-links ul{
        padding-left: 1rem;
    }

    .menu-links span{
        margin-left: 15px;
        cursor: pointer;
    }
    .menu-links span:hover{
        color: #005FA3;
    }

    .menu-links a{
        text-decoration: none;
        color: #404149;
        margin-left: 15px;
        
    }

   
    
    .menu-links a:hover{
        color: #005FA3;
    }
    
       
    .menu-catalog a:hover{
        color: #005FA3;
    }
    
    .menu-catalog-links{
        text-decoration: none; 
        color: #F7654A;   
        background-color: #ffffff;
        border: 0;
        padding: 0;
        font-size: 14px;
    }

    
    

    .menu-catalog-links:hover{
        background-color: #ffffff;
        color: #005FA3;
    }
    
    .menu-catalog-links:focus{
        background-color: #ffffff;
        color: #ee2906;
    }  
    
    .carou-main{   
        width: 100%;
        min-width: 500px;
        max-width: 1080px;        
    }
    
    .carousel{
        display: flex;
        background-color: #005FA3;
        margin: 0 auto;   
    }
    
    .carou-header{
        display: flex;
        object-fit: cover;
        height: 200px;  
        opacity: 0.7;
    }    
    
    .carou-title{
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 5px;
        color: #ffffff;
        text-shadow: 2px 2px 2px #000000;
        width: 350px;
        margin: 0 auto;
        position: relative;
    }
    
    .carou-description{
        font-size: 12px;
        color: #ffffff;
        text-shadow: 2px 2px 2px #000000;
    }  
      
    .maskforcarou{
        width: 100%;
        min-width: 500px;
        max-width: 1080px;
        height: 200px;
        position: absolute;
        display: flex;
        background-color: #ffffff;
        -webkit-mask-image: linear-gradient(rgb(0, 95, 163), transparent);
        -webkit-mask-size: 100% 10%;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: top;
    }

    .field-wrapper{
        
        height: 60px;
        width: 100%;
        min-width: 500px;
        max-width: 1080px;
    }    
    
    .maskforheader{
        height: 40px;
        position: absolute;
        width: 500px;
        background-color: #FFFFFF;
        -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1), transparent);
        -webkit-mask-size: 100%;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: top;
    }
    
    .field{
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        margin: 0 auto;
        bottom: 50px;
        
    }
    
    .field-in{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
        margin-top: 5px;
    }
    
    .field-in p{
        margin-bottom: 0;    
    }
    
    p.field-in-value {
        margin-top: 0 !important;
        line-height: 20px;
    }

    .field-in-value{
        
        font-size: 16px;
        color: #F7654A;
        line-height: 20px;
        font-weight: 600;
    }
    
    .field-in-text{
        font-size: 12px;
        color: #404149;
        font-weight: 600;
    }
    
    .field-in-description{
        font-size: 10px;
        color: #999999;
        text-align: center;
        font-weight: 400;
        line-height: 1.2
    }
    
    
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
        margin: 0 auto;    
        justify-content: center;
        padding-bottom: 30px;
    }
    
    .main h1{
        font-size: 14px;
        font-weight: 600;
    }
    
    
    
    .main-wrapper{
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }
    
    .picture-wrapper{
        width: 100%;
        min-width: 500px;
        max-width: 1080px;
    }
    
    .picture{
        display: flex;
        flex-direction: row;
        
        width: 100%;
        min-width: 500px;
        max-width: 1080px;
        justify-content: space-between;
        overflow: hidden;
    }
    .picture > div{
        display: flex;
        width: 100%;
        min-width: 60px;
        max-width: 120px;

    }
    .pictureimg{
        display: flex;
        object-fit: cover;
        
        width: 100%;
        min-width: 110px;
        max-width: 140px;
        height: 6rem;
    }
    
    .main-wrapper-card {
        display: flex;
        flex-direction: row;
        width: 480px;
        justify-content: space-between;     
    }

    .main-wrapper-card-pictureimg{
        object-fit: cover;
        width: 150px;
        height: 150px;
    }
    
    .main-wrapper-card > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 150px;
    }

    .main-wrapper-card > div img:first-child{
        object-fit: cover;
        width: 150px;
    }
    
    .main-wrapper-card > div > span{
        font-size: 12px;
        font-weight: 600;
        padding-top: 10px;
    }
    
    .main-wrapper-card > div > p{
        font-size: 16px;
        font-weight: 300;
    }
    
    .orange-dash{
        height: 4px;
        width: 25px;
        margin-top: 15px;
    }
    
    .main-about{
        padding-top: 40px;
    }
    
    .main-about h1{
        
        padding-bottom: 30px;  
        text-align: center;  
    }
    
    .articleheader{
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.5px;
        
    }
    
    
    .articlebody{
        margin-top: 5px;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.5px;
        text-align: justify;
    }

    p.articlebody{
        margin-bottom: 5px;
    }
    
    .articlefield-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .articlefield-wrapper-down{
        display: flex;
        flex-direction: column;
        width: 47%;
        justify-content: space-between;
    }
    
    
    
    .articlefield{
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }
    .articlefield > img{
        padding-right: 20px;
        width: 60px;
    }
    
    .main-catalog h1{
        padding-bottom: 10px;
        text-align: center;
        z-index: 10;
    }

    .main-title{        
        display: flex;
        justify-content: center;
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 30px;
    }
    
    .main-wrapper-catalog{
           
        width: 500px;
    }

    .product-grid1{
        grid-area: 1 / 3 / 3 / 4;
    }

    .product-grid2{
        grid-area: 2 / 1 / 3 / 3;
 
        
    }
       
    .carou-catalog{
        grid-area: 1 / 1 / 2 / 3;
        height: 150px;
        width: 300px;        
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .carou-catalog img{
        object-fit: cover;
        height: 150px;
        width: 300px;
        
    }
    
    .catalog-product1{
        display: grid;
        grid-template-columns: repeat(3, 160px);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;   
        
    }

    .catalog-product{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;   
        
    }
    
    .catalog-product-row1{
        display: flex;
        flex-direction: column;
        
    }

    .catalog-product-row2{
        display: flex;
        flex-direction: row;
        
    }
    
    .catalog-product-row a{
        text-decoration: none;
        color: #404149;
    }

    .main-catalog-wrapper{
        align-items: flex-start;
    }
    
    .product-card{
        display: flex;
        flex-direction: column;
        width: 150px;
        height: 150px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 10px;
    }

    .product-card-span{
        font-size: 8px;
    }

    .product-card-picture > div{
        display: flex;
        flex-direction: column;
    }

    .product-card-picture > div > p{
        margin-top: 5px;
        font-size: 7px;
    }
    
    .product-card.first{
        margin-left: 0;
    }
    
    .product-card:hover{
        
        box-shadow: -2px -2px 0px 0px rgb(0 95 163 / 5%);
    }
    
    .product-card-title{
        display: flex;
        flex-direction: column;
        
    }
    
    .product-card-picture{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .product-card-title > h2{
        font-size: 12px;
        padding: 0;
        text-align: left;
    }
    
    .orange-dash-card{
        height: 4px;
        width: 20px;
        margin-bottom: 5px;
    }
    
    .product-card-picture .imgcard{
        object-fit: contain;
        width: 90px;
        height: 90px;
    }
    
    .footer{
        margin: 0 auto;
        width: 100%;
    }
    
    .banner-orange{    
        background-color: #F7654A;
        color: #FFFFFF;
    }
    
    .banner-orange-in{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 500px;
        margin: 0 auto;
        height: 100px;
    }

    .banner-orange-in-text{
        display: flex;
        flex-direction: column;
    }
    
    .banner-orange-in span{
        margin: 0;
        margin-left: 10px;
        
    }
    
    .banner-orange-title{
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2px;
       
    }
    
    .banner-orange-description{
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
       
    }
    
    .banner-orange-btn{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 175px;
        height: 49px;
        font-size: 14px;
        font-weight: 600;
        border: 0;
        letter-spacing: 1px;
        margin-right: 10px;
        background-color: #F7F7F7;
        color: #000000;
        text-decoration: none;
    }
    
    
    
    .footer-down{
        background-color: #404149;
        color: #FFFFFF;
        
    }
    
    .map{
        display: flex;
        width: 100%;
        height: 300px;
    }

    .footer-down > div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 500px;
        margin: 0 auto;
        padding: 10px;
    }

    .contant-footer > div{
        display: flex;
        align-items: center;

    }

    .contant-footer > div > img{
        margin-right: 3px;
    }

    .contant-info-left-time{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contant-info-left-time > div{
        padding-right: 20px;
        display: flex;
        flex-direction: column;
    }

    .contant-info-left p{
        margin-bottom: 0;

    }

    .contant-info-left-time > div > p{
        margin-bottom: 0;
    }

    .contant-footer > div > img{
        filter: invert(100%);
    }

    span.footertext{
        color: #FFFFFF;
        text-decoration: none;
    }

    .footertext{
        font-size: 12px;
    }

    .footerminus{
        font-size: 10px;
    }

    .contant-info-center{
        display: flex;
        flex-direction: column;
        width: 150px;
        padding-top: 5px;
    }

    .contant-info-center a{
        text-decoration: none;
        color: #ffffff;
    }

    .contant-info-center p{
        margin-bottom: 0;
    }

    .copyright{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .copyright{
        font-size: 12px;
    }

    .copyright span:first-child{
        display: flex;
        align-items: flex-end;
    }

    .copyright span:last-child{
        text-align: end;
        
    }
    
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
    .btn-check:active+.btn-secondary:focus, .btn-check:checked+.btn-secondary:focus, .btn-secondary.active:focus, .btn-secondary:active:focus, .show>.btn-secondary.dropdown-toggle:focus, .btn-check:focus+.btn-secondary, .btn-secondary:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; 
        
    }
    
    .btn{
        vertical-align: baseline;
    }
    
    .modal-dialog{
        width: 400px;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #floatingTextarea{
        height: 84px;
    }

    .form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown){
        padding-top: calc(1.5rem + 15px); 
        padding-bottom: 20px;
    }

    .modal-footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .form__message{
        display: flex;
        flex-direction: row;
    }
    p.contact-form__message{
        margin-bottom: 0 !important;
    }
}

@media (max-width: 500px)  { 
    .contant-info-left__title{
        font-size: 18px ;
    }
    .header-namefirm:first-child{
        padding-right: 0px;
    }
    .menu-links a:first-child{
        margin-left: 0 !important;
    }

    .menu-links label{
        display: flex;
        justify-content: flex-end;
    }
    .menu-links > ul {
        display: none;        
        font-size: 14px;
        white-space: normal;
        text-align: center;
        line-height: 15px;
    }
    input#btn-menu:checked ~ label + ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0;
        z-index: 40;
        position: absolute;
        top: 105px;
        right: 0;
        padding: 25px 20px 10px 20px;
        width: 100%;
        margin: 0 auto;
        background-color: #FFFFFF;
        box-shadow: 0px 7px 7px 0px rgb(0 0 0 / 10%);
        align-items: center;
    }

    .container-main{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: space-between;
        width: 100%;
        min-width: 300px;
        max-width: 500px;
        margin: 0 auto;        
    }

    header{
        background-color: #FFFFFF;
        width: 100%;
        min-width: 300px;
        max-width: 500px;
        margin: 0 auto;
    }

    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #FFFFFF;
        width: 300px;
        height: 50px;
        font-size: 16px;
        margin: 0 auto;
    }  

    .sticky {
        position: sticky;
        top: -1px;
        background-color: #FFFFFF;
        z-index: 20;
        box-shadow: 0px 2px  15px 5px rgb(0 0 0 / 10%);
     
    }

        
    .icon{
        object-fit: contain;
        width: 10px;
        height: 10px;    
    }
    
    .time, .compas{
        margin-right: 4px;
        
    }
    
    .header-addres a:hover{
        text-decoration: none;
        color: #005FA3;
    }
    
    .header-left{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
        padding-left: 0px;
    }
    
    .header-time, .header-addres{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 10px;
        margin-right: 5px;
    }
    
    .header-addres a{
        color: #404149;
    }
    
    .header-center{
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #005FA3;
        padding-top: 0;
    }
    
    .header-center a{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: #005FA3;
    }

    .header-namefirm + .header-namefirm{
        margin-left: 5px;
    }
    
    .header-namefirm{
        display: flex;
        justify-content: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        text-shadow: 1px 1px 1px #005FA3;
        margin-bottom: 0;
        letter-spacing: 1px;
        padding-top: 5px;
    }
    
    .header-tagline{
        display: none;
        justify-content: center;
        font-size: 8px;
        text-shadow: 0.5px 0.5px 0.5px #005FA3;
    }
    
    .header-right{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5px 0;
        justify-content: center;
        font-size: 10px;
        padding-right: 10px;
    }

    .header-right > div+div{
        margin-left: 15px;
    }
    
    .boxmail{
        display: none;
        padding-top: 4px;
    }
    
    .menu{
        display: flex;
        flex-direction: row;
        width: 100%;
        min-width: 300px;
        max-width: 500px;
        padding: 5px 10px;
        margin: 0 auto;
        background-color: #FFFFFF;
        box-shadow: none;
        font-size: 10px;
        justify-content: center;
        box-shadow: 0px -1px 0px 0px rgba(255, 101, 0, 0.07);
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    
    .dropdown-menu{
        overflow-y: scroll;
        max-height: calc(100vh - 150px);
        border: 1px solid rgba(0,0,0,.09);
        height: fit-content;
    }
    
    .dropdown-item{
        font-size: 12px;
        padding: 0.25rem 1rem;
    }

    .menu-links{
        display: flex;
        flex-direction: row;
        width: 222px;
        white-space: nowrap;
        justify-content: flex-end;
        padding-right: 10px;
        margin-left: 0;
        align-items: flex-end;
    }

    .spanshow{
        display: flex !important;
        margin-right: 14px;
        margin-left: 14px !important;
    }

    .spanhidden{
        display: none !important;
    }

    .icon-menu{
        object-fit: contain;
        width: 18px;
        margin-right: 0px;
    }

    .menu-links ul a + a {
        box-shadow: -2px 0px 0px 0px rgb(0 0 0 / 5%);
        /* border-left: 1px solid #999999; */
    }

    .menu-links span{
        margin-left: 20px;
        cursor: pointer;
    }
    .menu-links span:hover{
        color: #005FA3;
    }

    .menu-links a{
        text-decoration: none;
        color: #404149;
        padding-left: 15px;
    }

    
    .menu-links a:hover{
        color: #005FA3;
    }
    
    .menu-catalog{
        margin-right: 0;
    }
    
    .menu-catalog a:hover{
        color: #005FA3;
    }
    
    .menu-catalog-links{
        text-decoration: none; 
        color: #F7654A;   
        background-color: #ffffff;
        border: 0;
        padding: 0;
        font-size: 14px;
        margin-left: 10px;
    }

    

    .menu-catalog-links:hover{
        background-color: #ffffff;
        color: #005FA3;
    }
    
    .menu-catalog-links:focus{
        background-color: #ffffff;
        color: #ee2906;
    }  
    
    .carou-main{   
        width: 100%;
        min-width: 300px;
        max-width: 500px;        
    }
    
    .carousel{
        display: flex;
        background-color: #005FA3;
        margin: 0 auto;   
    }

    .carou-main .carousel-caption{
        left: 5%;
        right: 5%;
    }
    
    .carou-header{
        display: flex;
        object-fit: cover;
        height: 200px;  
        opacity: 0.7;
    }    
    
    .carou-title{
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 5px;
        color: #ffffff;
        text-shadow: 2px 2px 2px #000000;
        width: 200px;
        margin: 0 auto;
        position: relative;
        letter-spacing: 0.7px;
    }
    
    .carou-description{
        font-size: 12px;
        color: #ffffff;
        text-shadow: 2px 2px 2px #000000;
        position: relative;
        line-height: 15px;
        letter-spacing: 0.7px;
    }  
      
    .maskforcarou{
        width: 100%;
        min-width: 300px;
        max-width: 500px;
        height: 200px;
        position: absolute;
        display: flex;
        background-color: #ffffff;
        -webkit-mask-image: linear-gradient(rgb(0, 95, 163), transparent);
        -webkit-mask-size: 100% 10%;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: top;
    }

    .field-wrapper{
        
        height: 60px;
        width: 100%;
        min-width: 300px;
        max-width: 500px;
    }    
    
    .maskforheader{
        height: 40px;
        position: absolute;
        width: 300px;
        background-color: #FFFFFF;
        -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1), transparent);
        -webkit-mask-size: 100%;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: top;
    }
    
    .field{
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        margin: 0 auto;
        bottom: 50px;
        
    }
    
    .field-in{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .field-in p{
        
        margin-bottom: 0;    
    }
    
    p.field-in-value {
        margin-top: 0 !important;
        line-height: 20px;
    }

    .field-in-value{
        
        font-size: 16px;
        color: #F7654A;
        line-height: 20px;
        font-weight: 600;
    }
    
    .field-in-text{
        font-size: 12px;
        color: #404149;
        font-weight: 600;
    }
    
    .field-in-description{
        font-size: 8px;
        color: #999999;
        text-align: center;
        font-weight: 400;
    }
    
    
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-width: 300px;
        max-width: 500px;
        margin: 0 auto;    
        justify-content: center;
        padding-bottom: 30px;
    }
    
    .main h1{
        font-size: 14px;
        font-weight: 600;
    }
    
    
    
    .main-wrapper{
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }
    
    .picture-wrapper{
        width: 100%;
        min-width: 300px;
        max-width: 500px;
    }
    
    .picture{
        display: flex;
        flex-direction: row;
        
        width: 100%;
        min-width: 300px;
        max-width: 500px;
        justify-content: space-between;
        overflow: hidden;
    }
    .picture > div{
        display: flex;
        width: 100%;
        min-width: 60px;
        max-width: 120px;

    }
    .pictureimg{
        display: flex;
        object-fit: cover;        
        width: 100%;
        min-width: 60px;
        max-width: 120px;
        height: 4rem;
    }
    
    .main-wrapper-card {
        display: flex;
        flex-direction: row;
        width: 100%;
        min-width: 280px;
        max-width: 500px;
        justify-content: space-evenly; 
        padding-left: 10px; 
        padding-right: 10px;
        
    }

    .main-wrapper-card-pictureimg{
        object-fit: cover;
        width: 80px;
        height: 80px;
    }
    
    .main-wrapper-card > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80px;
    }

    
    
    .main-wrapper-card > div > h2{
        font-size: 12px;
        font-weight: 600;
        padding-top: 10px;
    }
    
    .main-wrapper-card > div > p{
        font-size: 16px;
        font-weight: 300;
    }
    
    .orange-dash{
        height: 4px;
        width: 25px;
        margin-top: 15px;
    }
    
    .main-about{
        padding-top: 40px;
    }
    
    .main-about h1{
        
        padding-bottom: 30px;  
        text-align: center;  
    }
    
    .articleheader{
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.5px;
        
    }
    
    
    .articlebody{
        margin-top: 5px;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0;
        text-align: justify;
    }

    p.articlebody {
        margin-bottom: 0;
    }
    
    .articlefield-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .articlefield-wrapper-down{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }
    
    
    
    .articlefield{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-bottom: 10px;
    }
    .articlefield > img{
        padding-right: 20px;
        width: 60px;
    }

    .main-catalog{
        display: flex;
        flex-direction: column;
        width: 100%;

    }
    
    .main-catalog h1{
        padding-bottom: 10px;
        text-align: center;
        z-index: 10;
    }

    .main-title{        
        display: flex;
        justify-content: center;
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 30px;
    }

    .main-catalog-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 300px;
        max-width: 500px;
        margin: 0 auto;
    }
    
   

    .main-wrapper-catalog{
        display: flex;
        flex-direction: column-reverse;
        width: 300px;
        margin: 0 auto;
        align-items: center;
    }

    
    

    .catalog-product1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        
    }

    .carou-catalog {
        grid-area: 1 / 1 / 2 / 3;
        margin-bottom: 20px;
        width: 280px;
        height: 160px;
    }

    .carou-catalog img{
        object-fit: cover;
        width: 280px;
        height: 160px;
    }

    .catalog-product-row1 {
        display: flex;
        flex-direction: row;
    }
    
    .product-grid1 {
        grid-area: 2 / 1 / 3 / 3;
        
    }

    .product-grid2 {
        grid-area: 3 / 1 / 4 / 3;
        
    }

    .catalog-product-row a{
        text-decoration: none;
        color: #404149;
    }

    .catalog-product {
        display: flex;
        flex-direction: column;
        
       
    }
    
    .catalog-product-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 300px;
    }
    
    
    .product-card{
        display: flex;
        flex-direction: column;
        width: 150px;
        height: 150px;
        margin-right: 0;
        margin-bottom: 10px;
        padding: 10px;
    }

    .product-card-span{
        font-size: 8px;
    }

    .product-card-picture > div{
        display: flex;
        flex-direction: column;
    }

    .product-card-picture > div > p{
        margin-top: 5px;
        font-size: 7px;
    }
    
    .product-card.first{
        margin-left: 0;
    }
    
    .product-card:hover{
        
        box-shadow: -2px -2px 0px 0px rgb(0 95 163 / 5%);
    }
    
    .product-card-title{
        display: flex;
        flex-direction: column;
        
    }
    
    .product-card-picture{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .product-card-title > h2{
        font-size: 12px;
        padding: 0;
        text-align: left;
    }
    
    .orange-dash-card{
        height: 4px;
        width: 20px;
        margin-bottom: 5px;
    }
    
    .product-card-picture .imgcard{
        object-fit: contain;
        width: 90px;
        height: 90px;
    }
    
    .footer{
        margin: 0 auto;
        width: 100%;
    }
    
    .banner-orange{    
        background-color: #F7654A;
        color: #FFFFFF;
    }
    
    .banner-orange-in{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-width: 300px;
        max-width: 500px;
        margin: 0 auto;
        height: 75px;
    }

    .banner-orange-in-text{
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }
    
    .banner-orange-in span{
        margin: 0;
        margin-left: 10px;
        
    }
    
    .banner-orange-title{
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
       
    }
    
    .banner-orange-description{
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 1px;
       
    }
    
    .banner-orange-btn{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100px;
        height: 40px;
        font-size: 12px;
        font-weight: 600;
        border: 0;
        letter-spacing: 0;
        margin-right: 10px;
        background-color: #F7F7F7;
        color: #000000;
        text-decoration: none;
    }
    
    .banner-orange-btn > img{
        width: 15px;
    }
    
    .footer-down{
        background-color: #404149;
        color: #FFFFFF;
        
    }
    
    .map{
        display: flex;
        width: 100%;
        height: 300px;
    }

    .footer-down > div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 100%;
        min-width: 300px;
        max-width: 500px;
        margin: 0 auto;
        padding: 10px;
    }

    .contant-footer > div{
        display: flex;
        align-items: center;

    }

    .contant-footer > div > img{
        margin-right: 3px;
    }

    .contant-info-left-time{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contant-info-left-time > div{
        padding-right: 20px;
        display: flex;
        flex-direction: column;
    }

    .contant-info-left p{
        margin-bottom: 0;

    }

    .contant-info-left-time > div > p{
        margin-bottom: 0;
    }

    .contant-footer > div > img{
        filter: invert(100%);
    }

    span.footertext{
        color: #FFFFFF;
        text-decoration: none;
    }

    .footertext{
        font-size: 12px;
    }

    .footerminus{
        font-size: 10px;
    }

    .contant-info-center{
        display: flex;
        flex-direction: column;
        width: 220px;
        padding-top: 5px;
    }

    .contant-info-center a{
        text-decoration: none;
        color: #ffffff;
    }

    .contant-info-center p{
        margin-bottom: 0;
    }

    .copyright{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .copyright{
        font-size: 10px;
    }

    .copyright span:first-child{
        display: flex;
        align-items: flex-end;
    }

    .copyright span:last-child{
        text-align: end;
        
    }
    
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
    .btn-check:active+.btn-secondary:focus, .btn-check:checked+.btn-secondary:focus, .btn-secondary.active:focus, .btn-secondary:active:focus, .show>.btn-secondary.dropdown-toggle:focus, .btn-check:focus+.btn-secondary, .btn-secondary:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; 
        
    }
    
    .btn{
        vertical-align: baseline;
    }
    
    
    .modal-dialog{
        width: 300px;
        margin: 0 auto;        
        margin-top: 15px;
        margin-bottom: 15px;
    }

    
    
}

@font-face {
    font-family: "Oswald-Regular";  
    src: url("/assets/fonts/Oswald-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400;
}