#body{
    background-color: #e9ecef;
}
header{
    box-shadow: unset !important;
    border-bottom: unset !important
}
main{
    display: flex;
    flex-grow: 1;
}
.info-btn, .form-select{
    cursor: pointer;
}
.header--container__center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 70px;
}
.icon_header-menu {
    width: 26px;
}
.header-search__btn {
    right: 10px;
    height: 40px;
    width: 40px;
    margin: auto;
    border-radius: 8px !important;
    padding: 5px;
    position: absolute !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10 !important;
    top: 0;
    bottom: 0;
    border: 0;
    transition: background-color .3s;
    pointer-events: none;
}
.header-search__input {
    border-radius: 12px !important;
    padding-left: 20px;
    padding-right: 60px;
    background: #f7f7f7;
    border-color: #f7f7f7;
    transition: .3s;
    z-index: 5;
}
.main{
    justify-content: flex-start;
}
.title-statistic-box{
    padding-bottom: 20px !important;
    padding-top: 20px;
}
.box_back_in_order{
    height: 60px;
    width: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.table_history_btn{
    padding-left: 0 !important;
    vertical-align: bottom;
}
.order_counter_status{
    display: flex;
    flex-direction: column;
}
.box_left-menu_order_page--container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 25px;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
}
.table_form{
    background-color: white;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
}
.main_page_order_book{
    width: 930px !important;
    align-self: flex-end;
    margin-right: unset;
    background-color: unset;
    margin-top: 110px;
    border-radius: 10px;
    align-self: flex-start;
}
tbody, td, tfoot, th, thead, tr{
    border-style: unset !important;
}
.box_left-menu_order_page{
    width: 170px ;
    margin-right: 40px;
    margin-top: 40px;
    border-radius: 10px;
    position: relative;
}
.container--go{
    position: fixed;
    width: 170px ;
}

.very_old_order-box{
    padding-left: unset !important;
    padding-right: unset !important;
    padding-top: unset !important;
    padding-bottom: unset !important;
}
#very_old_order span{
    padding-left: 20px;
    padding-right: 10px;  
    font-size: 14px;  
    cursor: pointer;
    
}
#very_old_order span:first-child{
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 5px;
    cursor: default;
   
}
#very_old_order span:last-child{
    padding-bottom: 15px;
   
}
#very_old_order span:first-child:hover{
    background-color: unset;  
}
#very_old_order span + span{
    padding-top: 3px;
    padding-bottom: 3px;
}
#very_old_order span:hover{
    background-color: #7eb2d71e;
  
}
.main_order_page{
    background-color: unset !important;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 1130px !important;
    min-height: 100vh;
    height: 100%;
}
.btn_reload_img{
    filter: invert(.3);
    pointer-events: none;
}
.btn_reload{
    transition: 0s;
}
.btn_reload:hover{
    border: 1px solid #ced4da;
    background-color: unset;
    border-bottom-color: #005fa3;
}
.btn-menu-filter + .btn-menu-filter{
    margin-left: 0px;
}
.btn-status, .btn-pay{
    border: 1px solid #ced4da;
}
.btn-outline-secondary:hover{
    --bs-btn-hover-bg: unset;
    border: 1px solid #ced4da;
    color: #6c757d;
    border-bottom-color: #005fa3 !important;
}
.btn_reload--style{
    padding:0;
    width:42px;
    height:40px;
    border: 0;
}
#btn_search{
    pointer-events: none;
}
.info-btn{
    width: fit-content;
    height: fit-content;
    font-weight: 100;
    font-size: 14px;
    padding: 8px;
}
#title_name_order_status{
    position: relative;
    font-size: 26px; font-weight: 600;
}
.btn__add--order{
    height: 35px;
    align-self: center;
    display: flex;
    align-items: center;
    border-bottom-width: medium !important;
}
.btn__topScroll{
    height: 35px;
    align-self: center;
    display: flex;
    align-items: center;
    border-bottom-width: medium !important;
    margin-left: 20px;
    border: 1px solid #ced4da;
}
.input-group-lg>.form-control{
    border-radius: 0.375rem;
    border-bottom-width: medium !important;
    border-right: 0;
}
#search-form div button{
    border-radius: 0.375rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-width: medium !important;
    border: 1px solid #ced4da;
    border-left: 0;
    align-items: center;
    display: flex;
}
.header-right--form_login{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
}

.header-right-form p{
    margin-bottom: 0;
    line-height: 18px;
}
.all-order-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom:20px;
    width: 930px;
    justify-content: space-between;
    padding-top: 50px;
    z-index: 20;
    position: fixed;
    background-color: #e9ecef;
}
.column_count_field{
    --bs-badge-font-size: 0.47em !important; 
}
#menu_filter{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 25px;
    background-color: white;
    border-radius: 10px;
}
#menu_filter div + div{
    margin-top: 20px;
}
#menu_filter div div{
    padding-bottom: 10px;
}
.info-btn + .info-btn{
    margin-top: 15px;
}
.liModalLabel, .headerModalLabel, .dataModalLabel, .footerInfoModalLabel{
    font-size: 14px;
}
.form-select option{color: #212529;}
.form-select__changes, .price_change-disabled, .btn_reload, .select_name_who_add_order{
    border-bottom-width: medium !important;
}

.modal-footer__update{
    flex-direction: unset;
    width: unset;
}
.header-table .form-control{
    border-bottom-width: medium !important;
}
.main{
    background-color: #ffffff;
}
.container--row_menu{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.table{
    vertical-align: middle;
}

.td_oplata-disabled, .priceValue-disabled{
    width: 100px;
} 
.modal-footer{
    align-items: unset;
}
.on_status, .on_pay{
    background-color: steelblue !important;
    color: #ffffff;
}

.table_col_width--zakaz,  .table_col_width--time_last_status, .table_col_width--time_last_status_oplat, .table_col_width--sum_order, .table_col_width--last_oplata, .th_ostatok, .th_oplata{
    width: 110px;
}
.table_col_width--montazh{
    width: 140px;
}
.td_oplata{
    width: 100px;
}
.table-sm>:not(caption)>*>* {
    padding: 0.25rem 10px;
}

.table_col_width--fio{
    width: 200px;
    padding-left: 0 !important;
}
.table_col_width--contact {
    width: 170px;
}
.table_col_width--price_change_order, .table_col_width--order__status, .table_col_width--time_last_status{
    width: 100px;
}
.table_col_width--dostavka{
    width: 130px;
    padding-right: 0 !important;
}
.table_col_width--dostavka input{
    width: 130px;
}
.table_col_width--order__status{
    padding-right: 0 !important;
   
}
.table_col_width--adres{
    width: 370px
}
.table-status-set{
    width: 425px
    
}
.table-btn-set{
    width: fit-content;
}
.on_pay .btn_reload_img, .on_status .btn_reload_img, .btn-delete:active .btn_reload_img {
    filter: invert(1);    
}
.btn-delete:active{
    background-color: steelblue !important;
    border: unset;
}
.table_col_width--btn-delete > button{
    margin-left: 0 !important;
}
.table_col_width--btn-hist_oplata, .table_col_width--btn-hist_tek_status, .table_col_width--btn-delete{
    width: 42px;
    padding: 0 !important;
}                                                        
 .table_header--color{
    box-shadow: 0px 2px 2px 0px #8c989b42;
    -webkit-box-shadow: 0px 2px 2px 0px #8c989b42;
    -moz-box-shadow: 0px 2px 2px 0px #8c989b42;
 }                               
 .balkon-wrapper {
    padding-left: 30px !important;
    padding-right: 30px !important;
 }
.table_col_width--oformlen{
    vertical-align: baseline;
}
.wrapper-block {
    padding-top: 50px;
    padding-bottom: 50px;
}
.auth input, .login-btn, .register-btn{
    border-radius: 5px;
}
.very_old_order-class{
    display: flex;
    flex-direction: column;
    height: 213px;
    overflow-y: scroll;
}
#search-form div input, #search-form div button, #search-form div span{
  
    font-size: 16px;
    padding: 5px 10px;
}
#search-form div input{
    width: 330px;
    height: 60px !important;
}
.header-search__input:focus {
    border-color: #f7f7f7;
    box-shadow: rgba(255, 101, 0, 0.02) 0px -2px 20px 0px, rgba(255, 101, 0, 0.04) 0px 2px 4px 0px;
}
.input-group> .header-search__input:focus + .header-search__btn {
    background-color: #7eb2d71e;
    border-color: unset;
    color: #6c757d;
}
.menu{
    box-shadow: unset;
    border-top: unset;
}
#search-form div button{
    border: unset !important;
}
.header{
    justify-content: flex-end !important;
}
.balkon-wrapper {
    padding-left: 0px !important; 
    padding-right: 0px !important;
}
.catalog-moskit-wrapper{
    width: 1130px;
}

@media (max-width: 1080px) {
    .container-main, .main, #header{
        width: 1080px !important;
        max-width: unset;
    }
    .dropdown-menu{
        overflow-y: scroll;
        max-height: calc(100vh - 150px);
        border: 1px solid rgba(0,0,0,.09);
        height: fit-content;
    }
    
    .dropdown-item{
        font-size: 12px;
        padding: 0.25rem 1rem;
    }

    .menu-links label {
        display: flex;
        justify-content: flex-end;
    }

    .menu-links > ul {
        display: none;
        font-size: 14px;
        white-space: normal;
        text-align: center;
        line-height: 15px;
    }

    input#btn-menu:checked ~ label + ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0;
        z-index: 40;
        position: absolute;
        top: 80px;
        right: 0;
        padding: 25px 20px 10px 20px;
        width: 100%;
        margin: 0 auto;
        background-color: #FFFFFF;
        box-shadow: 0px 7px 7px 0px rgb(0 0 0 / 10%);
        align-items: center;
    }

    .menu-links{
        display: flex;
        flex-direction: row;
        width: 100%;
        white-space: nowrap;
        justify-content: flex-end;
        margin-left: 0;
        align-items: flex-end;
    }

    .spanshow{
        margin-left: 0 !important;
        margin-right: 14px;
    }

    .spanhidden{
        display: none !important;
    }

    .icon-menu{
        object-fit: contain;
        width: 18px;
    }

    .menu-links ul a + a {
        box-shadow: -2px 0px 0px 0px rgb(0 0 0 / 5%);
        /* border-left: 1px solid #999999; */
    }

    .menu-links span{
        margin-left: 20px;
        cursor: pointer;
    }
    .menu-links span:hover{
        color: #005FA3;
    }

    .menu-links a{
        text-decoration: none;
        color: #404149;
        padding-left: 15px;
    }

    
    .menu-links a:hover{
        color: #005FA3;
    }
    
    .menu-catalog{
        margin-right: 0;
    }
    
    .menu-catalog a:hover{
        color: #005FA3;
    }
    
    .menu-catalog-links{
        text-decoration: none; 
        color: #F7654A;   
        background-color: #ffffff;
        border: 0;
        padding: 0;
        font-size: 14px;
        margin-left: 0px;
    }

    
    .menu-catalog-links:hover{
        background-color: #ffffff;
        color: #005FA3;
    }
    
    .menu-catalog-links:focus{
        background-color: #ffffff;
        color: #ee2906;
    } 

    .header-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .header-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .catalog-moskit-wrapper{
        width: unset !important;
    }
    .header{
        justify-content:space-between;
        flex-direction: row;
    }
    .catalog-moskit-wrapper {
        width: 950px !important;
    }
    .all-order-title{
        width: 90%;
        max-width: 799px;
        min-width: 200px;
    }
    .balkon-wrapper {
        padding-left: 0px !important; 
       padding-right: 0px !important;
    }
    .header--container{
        padding: 0 !important;
    }
    header{
        display: flex;
        justify-content: center;
    }
    .menu{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        min-width: unset;
        max-width: unset;
    }
    .header{
        width: 100%;
    }
    .header--container__center {
        width: 100%;
        padding-left: 20px;
    }

    .header--container{
        display: flex;
        justify-content: space-between;
        width: 90%;
        padding: 0 10px;
    }

    .header-center a{
        flex-direction: column;
        display: flex;
    }

    .header-namefirm{
        text-align: center;
    }

    .header-namefirm:first-child{
        font-size: 14.4px;
        line-height: 24px;
        padding-right: 0px;
    }

    .header-center{
        width: 120px;
        padding-top: 0;
    }

    .header-namefirm{
        font-size: 26px;
    }

    .header-left {
        padding-left: 0;
        margin-top: 0 !important;
    }
    .header-namefirm + .header-namefirm {
        margin-left: 0px !important;
        padding-top: 0;
    }
    .header-right{
        padding-right: 0px;
    }
    .header-tagline{
        display: flex;
    }
    
}